run/TSDL.XSD

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
 	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:gml="http://www.opengis.net/gml"
	xmlns="http://citius.usc.es/cograde/TSDL"
	targetNamespace="http://citius.usc.es/cograde/TSDL">


<xsd:import schemaLocation="http://www.web3d.org/specifications/x3d-3.0.xsd"/>


<!---------------------------------------------------------->
<!--                PRELIMIRAIES                          -->
<!---------------------------------------------------------->


<xsd:complexType name="EnvelopeType">
	<xsd:sequence>
		<xsd:element name="lowerCorner" type="DirectPositionType"/>
		<xsd:element name="upperCorner" type="DirectPositionType"/>
	</xsd:sequence>
</xsd:complexType>


<xsd:simpleType name="doubleList">
    <xsd:list itemType="xsd:double"/>
</xsd:simpleType>


<xsd:complexType name="DirectPositionType">
	<xsd:simpleContent>
		<xsd:extension base="doubleList"/>
	</xsd:simpleContent>
</xsd:complexType>

<xsd:complexType name="Rotation3DType">
  <xsd:sequence>
    <xsd:element name="axis" type="DirectPositionType"/>
    <xsd:element name="angle" type="xsd:double"/>
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="ExpressionType">
	<xsd:simpleContent>
		<xsd:extension base="xsd:string"/>
	</xsd:simpleContent>
</xsd:complexType>

<xsd:complexType name="ColorType">
  <xsd:sequence>
    <xsd:element name="red" type="ExpressionType" minOccurs="0"/>
    <xsd:element name="green" type="ExpressionType" minOccurs="0"/>
    <xsd:element name="blue" type="ExpressionType" minOccurs="0"/>
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="MaterialType">
  <xsd:sequence>
    <xsd:element name="ambientIntensity" type="ExpressionType" minOccurs="0"/>
    <xsd:element name="diffuseColor" type="ColorType" minOccurs="0"/>
    <xsd:element name="emissiveColor" type="ColorType" minOccurs="0"/>
    <xsd:element name="shininess" type="ExpressionType" minOccurs="0"/>
    <xsd:element name="specularColor" type="ColorType" minOccurs="0"/>
    <xsd:element name="transparency" type="ExpressionType" minOccurs="0"/>
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType abstract="true" name="CoverageSpecificationType"/>

<xsd:complexType name="PostGISCoverageSpecificationType">
	<xsd:complexContent>
		<xsd:extension base="CoverageSpecificationType">
			<xsd:sequence>
				<xsd:element name="rasterTable" type="xsd:string" minOccurs="0"/>
	            <xsd:element name="rasterColumn" type="xsd:string" minOccurs="0"/>
			</xsd:sequence>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>

<xsd:complexType abstract="true" name="MapSpecificationType"/>

<xsd:complexType name="PostGISMapSpecificationType">
	<xsd:complexContent>
		<xsd:extension base="MapSpecificationType">
			<xsd:sequence>
				<xsd:element name="rasterTable" type="xsd:string" minOccurs="0"/>
	            <xsd:element name="rasterColumn" type="xsd:string" minOccurs="0"/>
			</xsd:sequence>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>



<!---------------------------------------------------------->
<!--                THEMATIC SCENE                        -->
<!---------------------------------------------------------->


<xsd:element name="ThematicScene" type="ThematicSceneType"/>

<xsd:complexType name="ThematicSceneType">
  <xsd:sequence>
    <xsd:element name="SRS" type="xsd:anyURI"/>
    <xsd:element name="Envelope" type="EnvelopeType"/>
    <xsd:element name="title" type="xsd:string" minOccurs="0"/>
    <xsd:element name="abstract" type="xsd:string" minOccurs="0"/>
    <xsd:element name="viewPoint" type="ViewPointType" maxOccurs="unbounded"/>
    <xsd:element name="ground" type="GroundType"/>
    <xsd:element name="layer" type="LayerType" minOccurs="0" maxOccurs="unbounded"/>
  </xsd:sequence>
</xsd:complexType>


<!---------------------------------------------------------->
<!--                VIEWPOINT                             -->
<!---------------------------------------------------------->

<xsd:complexType name="ViewPointType">
  <xsd:sequence>
    <xsd:element name="location" type="DirectPositionType"/>
    <xsd:element name="orientation" type="Rotation3DType"/>
    <xsd:element name="fieldOfView" type="xsd:double"/>
  </xsd:sequence>
  <xsd:attribute name="id" type="xsd:anyURI" use="required"/>
  <xsd:attribute name="default" type="xsd:boolean" use="optional" default="false"/>
</xsd:complexType>


<!-------------------------------------------------------->
<!--                GROUND                               -->
<!--------------------------------------------------------->

<xsd:complexType name="GroundType">
  <xsd:sequence>
    <xsd:element name="coverage" type="CoverageSpecificationType"/>
	<xsd:element name="resolution" type="xsd:double"/>
    <xsd:element name="tileSize" type="xsd:double"/>
    <xsd:element name="maxTerrainSize" type="xsd:float"/>
    <xsd:element name="exaggeration" type="xsd:float" minOccurs="0"/>
    <xsd:element name="groundSkin" type="GroundSkinType" minOccurs="0" maxOccurs="unbounded"/>
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="GroundSkinType">
  <xsd:choice>
    <xsd:element name="material" type="MaterialType"/>
    <xsd:element name="texture" type="MapSpecificationType"/>
  </xsd:choice>
  <xsd:attribute name="id" type="xsd:anyURI" use="required"/>
</xsd:complexType>



<!-------------------------------------------------------->
<!--                LAYER                               -->
<!--------------------------------------------------------->

<xsd:complexType name="LayerType">
  <xsd:sequence>
    <xsd:element name="name" type="xsd:string" minOccurs="0"/>
    <xsd:element name="description" type="xsd:string" minOccurs="0"/>
    <xsd:element name="rule" type="RuleType" maxOccurs="unbounded"/>
  </xsd:sequence>
  <xsd:attribute name="id" type="xsd:anyURI" use="required"/>
</xsd:complexType>


<xsd:complexType name="RuleType">
  <xsd:sequence>
    <xsd:element name="shape" type="AbstractShapeSpecificationType" maxOccurs="unbounded"/>
   <xsd:element name="featureTypeName" type="xsd:string"/>
    <xsd:element name="filter" type="ExpressionType" minOccurs="0"/>
    <xsd:element name="minDist" type="xsd:double" minOccurs="0"/>
    <xsd:element name="maxDist" type="xsd:double" minOccurs="0"/>
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType abstract="true" name="AbstractShapeSpecificationType"/>

<xsd:complexType name="ShapesAtPointType">
	<xsd:complexContent>
		<xsd:extension base="AbstractShapeSpecificationType">
			<xsd:sequence>
				<xsd:element name="point" type="ExpressionType"/>
				<xsd:choice>
					<xsd:element name="inLineShape" type="X3DChildNode" maxOccurs="unbounded"/>
					<xsd:element name="referencedShapes" type="ExpressionType"/>
				</xsd:choice>
				<xsd:choice minOccurs="0">
					<xsd:element name="inLineProbabilities" type="doubleList"/>
					<xsd:element name="referencedProbabilities" type="ExpressionType"/>
				</xsd:choice>
				<xsd:element name="rotation" type="ExpressionType" minOccurs="0"/>
				<xsd:element name="scale" type="ExpressionType" minOccurs="0"/>
				<xsd:element name="elevation" type="ExpressionType" minOccurs="0"/>
				<xsd:element name="material" type="MaterialType" minOccurs="0"/>
			</xsd:sequence>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ShapesAtLineType">
	<xsd:complexContent>
		<xsd:extension base="AbstractShapeSpecificationType">
			<xsd:sequence>
				<xsd:element name="line" type="ExpressionType"/>
				<xsd:choice>
					<xsd:element name="inLineShape" type="X3DChildNode" maxOccurs="unbounded"/>
					<xsd:element name="referencedShapes" type="ExpressionType"/>
				</xsd:choice>
				<xsd:choice minOccurs="0">
					<xsd:element name="inLineProbabilities" type="doubleList"/>
					<xsd:element name="referencedProbabilities" type="ExpressionType"/>
				</xsd:choice>
				<xsd:element name="rotation" type="ExpressionType" minOccurs="0"/>
				<xsd:element name="scale" type="ExpressionType" minOccurs="0"/>
				<xsd:element name="initialGap" type="ExpressionType" minOccurs="0"/>
				<xsd:element name="gap" type="ExpressionType"/>
				<xsd:element name="groundProjection" type="AbstractGroundProjectionType"/>
				<xsd:element name="material" type="MaterialType" minOccurs="0"/>
			</xsd:sequence>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>

<xsd:complexType abstract="true" name="AbstractGroundProjectionType"/>

<xsd:complexType name="GroundProjectionType">
	<xsd:complexContent>
		<xsd:extension base="AbstractGroundProjectionType">
			<xsd:sequence>
				<xsd:element name="elevation" type="ExpressionType"/>
			</xsd:sequence>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="HorizontalProjectionType">
	<xsd:complexContent>
		<xsd:extension base="AbstractGroundProjectionType">
			<xsd:sequence>
				<xsd:element name="elevation" type="ExpressionType"/>
				<xsd:element name="relativeElevation" type="RelativeElevationType"/>
			</xsd:sequence>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>

<xsd:simpleType name="RelativeElevationType">
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="GroundTop"/>
		<xsd:enumeration value="GroundBottom"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="BridgeProjectionType">
	<xsd:complexContent>
		<xsd:extension base="AbstractGroundProjectionType">
			<xsd:sequence>
				<xsd:element name="startElevation" type="ExpressionType"/>
				<xsd:element name="startPoint" type="ExpressionType"/>
				<xsd:element name="endElevation" type="ExpressionType"/>
				<xsd:element name="endPoint" type="ExpressionType"/>
			</xsd:sequence>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ShapesAtSurfaceType">
	<xsd:complexContent>
		<xsd:extension base="AbstractShapeSpecificationType">
			<xsd:sequence>
				<xsd:element name="surface" type="ExpressionType"/>
				<xsd:choice>
					<xsd:element name="inLineShape" type="X3DChildNode" maxOccurs="unbounded"/>
					<xsd:element name="referencedShapes" type="ExpressionType"/>
				</xsd:choice>
				<xsd:choice minOccurs="0">
					<xsd:element name="inLineProbabilities" type="doubleList"/>
					<xsd:element name="referencedProbabilities" type="ExpressionType"/>
				</xsd:choice>
				<xsd:element name="rotation" type="ExpressionType" minOccurs="0"/>
				<xsd:element name="scale" type="ExpressionType" minOccurs="0"/>
				<xsd:element name="orientation" type="ExpressionType" minOccurs="0"/>
				<xsd:element name="resolution" type="ExpressionType"/>
				<xsd:element name="groundProjection" type="AbstractGroundProjectionType"/>
				<xsd:element name="material" type="MaterialType" minOccurs="0"/>
			</xsd:sequence>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ExtrudeThroughPathType">
	<xsd:complexContent>
		<xsd:extension base="AbstractShapeSpecificationType">
			<xsd:sequence>
				<xsd:element name="path" type="ExpressionType"/>
				<xsd:element name="section" type="ExpressionType"/>
				<xsd:element name="scalex" type="ExpressionType" minOccurs="0"/>
				<xsd:element name="scaley" type="ExpressionType" minOccurs="0"/>
				<xsd:element name="groundProjection" type="AbstractGroundProjectionType"/>
				<xsd:element name="material" type="MaterialType"/>
			</xsd:sequence>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ExtrudeSurfaceType">
	<xsd:complexContent>
		<xsd:extension base="AbstractShapeSpecificationType">
			<xsd:sequence>
				<xsd:element name="surface" type="ExpressionType"/>
				<xsd:element name="minHeight" type="ExpressionType"/>
				<xsd:element name="maxHeight" type="ExpressionType"/>
				<xsd:element name="roof" type="ExpressionType" minOccurs="0"/>
				<xsd:element name="groundProjection" type="AbstractGroundProjectionType"/>
				<xsd:element name="material" type="MaterialType"/>
			</xsd:sequence>
		</xsd:extension>
	</xsd:complexContent>
</xsd:complexType>


</xsd:schema>